@import "https://fonts.googleapis.com/css?family=Lato:100";

*{
margin: 0;
padding:0;
box-sizing:border-box;
}

html {
    font-size:10px;
    font-family:"Lato", Arial, sans-serif;/*određen font slova*/
    scroll-behavior: smooth;
}

section { /*odredila širinu i visinu da stane potpuno u prvi prikaz, boje i animaciju pozadine */
    width: 100%; /*širina*/
    height:100vh;/*visina*/
    color:#fff; /*boja slova bijela*/
    background: linear-gradient(45deg, #EE7752, #E73C7E, #2EA6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

h1{
    font-size:5rem;
    letter-spacing: 2px;/*razmak između slova*/
    border: 3px solid #fff;/*okvir*/
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 5rem 10rem;

}

h2{
    font-size:5rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

p{
    font-family: sans-serif;
    font-size:16px;
    text-align: center;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li{
    font-family: sans-serif;
    font-size:16px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}

.main-btn {
    text-decoration:none I !important;
     color: white;
}


body{
    margin:0;
    line-height: 1.1;/*određuje širinu bijelog obruba*/
}


.arrow{
    position: absolute;
    top:93%;
    left: 50%;
}

.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #efefef;/*kreira crtu određene debljine*/
    border-right: 5px solid #efefef;/*kreira crtu određene debljine*/
    transform: rotate(45deg);/*rotira za određeno stupnjeva*/
    margin: -10p;
    animation: scroll 2s infinite;
}

.arrow span:nth-child(2){
    animation:-.2 ;
}

@keyframes scroll {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

main {
width: 100%;/*širina pozadine*/
height:94vh;/*visina pozadine koja sa footerom čini 100*/
}

footer {/*odredila boje pozadine i animaciju*/
    width: 100%;/*širina pozadine*/
    height:6vh;/*visina pozadine*/
    color:#fff;
    background: linear-gradient(45deg, #EE7752, #E73C7E, #2EA6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite
}

@keyframes change {
    0%{
        background-position:0 50% ;
    }
    50%{
        background-position: 100% 50% ;
    }
    100%{
        background-position:0 50% ;
    }
}

