/*CSS tools: reset CSS mogu koristiti kako bi maknula deafultne stilove browsera, c/p sa stranice i uređujem po tome*/

* {
    font-family: "Roboto";
}

/*određeno ponašanje prijelaza*/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    /*određuje širinu bijelog obruba*/
    line-height: 1.1;
}

.about-me {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.about-me-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*odredila širinu i visinu da stane potpuno u prvi prikaz, boje i animaciju pozadine */
.cont {
    /*širina*/
    width: 100%;
    /*visina*/
    height: 100vh;
    /*boja slova bijela*/
    color: #fff;
    background: linear-gradient(45deg, #EE7752, #E73C7E, #2EA6D5, #23D5AB);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
}


.main-btn {
    text-decoration: none !important;
    text-decoration-line: none;
    color: white;
}
.main-btn:hover  {
    color: #D3D3D3
  }
h1:hover{
    border: 3px solid #D3D3D3;
}

.icons{
    font-size: 5em;
    color: white;
}
.icons:hover{
    color: #D3D3D3
}

.icons-margin{
margin-left: 2em;
}

/*uređuje ivona crnković software tester i border line*/
h1 {
    /*razmak između slova*/
    letter-spacing: 2px;
    /*okvir debljina i boja*/
    border: 3px solid #fff;
    padding: 2% 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.head-icons {
    /*ikonice su vodoravno, jedna pored druge*/
    display: flex;
    /*centrirano drži*/
    justify-content: center;
    /*veličina ikonica*/
    margin: auto;
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 1483px) {
    .head-icons{
     top:72%
    }
}

@media screen and (max-width: 1404px) {
    .head-icons{
     top:72%
    }
}

@media screen and (max-width: 1409px) {
    .head-icons{
     top:71%
    }
}

@media screen and (max-width: 1280px) {
    .head-icons{
     top:72%
    }
}

@media screen and (max-width: 1278px) {
    .head-icons{
     top:75%
    }
    .icons{
        font-size: 4em;
    }
}

@media screen and (max-width: 1024px) {
    .head-icons{
     top:72%
    }
    .icons{
        font-size: 4em;
    }
}


@media screen and (max-width: 990px) {
    .head-icons{
     top:70%
    }
    .icons{
        font-size: 4em;
    }
    


}

@media screen and (max-width: 870px) {
    .head-icons{
     top:70%
    }
    .icons{
        font-size: 4em;
    }
}


@media screen and (max-width: 650px) {
    .head-icons{
     top:70%
    }
    .icons{
        font-size: 4em;
    }
}


@media screen and (max-width: 540px) {
    .head-icons{
     top:69%
    }
    .icons{
        font-size: 4em;
    }
}

@media screen and (max-width: 375px) {
    .head-icons{
     top:69%
    }
    .icons{
        font-size: 4em;
    }
}

@media screen and (max-width: 309px) {
    .head-icons{
     top:66%
    }
    .icons{
        font-size: 4em;
    }
}

@media screen and (max-width: 280px) {
    .head-icons{
     top:66%
    }
    .icons{
        font-size: 4em;
    }
}

/*strelica na headeru*/
.down {
    bottom: 25px;
    width: 100%;
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    fill: #fff;
    -webkit-animation: pulse 1.3s infinite;
    animation: pulse 1.3s infinite;
}

.arrow {
    position: absolute;
    top: 92%;
    left: 49%;
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    /*kreira crtu određene debljine*/
    border-bottom: 5px solid #efefef;
    /*kreira crtu određene debljine*/
    border-right: 5px solid #efefef;
    /*rotira kreirane crte za određeno stupnjeva*/
    transform: rotate(45deg);
    animation: scroll 2s infinite;
}

.arrow span:nth-child(2) {
    animation: -.2;
}

main {
    display: flex;
    /*širina pozadine*/
    width: 100%;
    /*visina pozadine koja sa footerom čini 100*/
    min-height: 94vh;
}



h2 {
    font-size: 3rem;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 1cm;
}

P,
li {
    font-size: 15px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    line-height: 1.6;
}


#aboutMe {
    width: 30%;
}


.skills {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    border: 3px solid #000;
    /*obli kutovi*/
    border-radius: 70px;
}



@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}